<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611322359852-pna8514626ihjqisu1ktpfr9u5bnuesk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611322359852-pna8514626ihjqisu1ktpfr9u5bnuesk</string>
	<key>API_KEY</key>
	<string>AIzaSyBE9Wcu_vlZVc8AytMx-lo9uQ5FlKSTICs</string>
	<key>GCM_SENDER_ID</key>
	<string>611322359852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magicar</string>
	<key>PROJECT_ID</key>
	<string>anadmagicar</string>
	<key>STORAGE_BUCKET</key>
	<string>anadmagicar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611322359852:ios:4922f1abd2fe8bee3b6189</string>
	<key>DATABASE_URL</key>
	<string>https://anadmagicar.firebaseio.com</string>
</dict>
</plist>